.button {
    background-color: transparent;
    border: none;
    font-weight: 600;
    border-radius: 2rem;
    padding: .8rem 4rem;
}

.primary {
    background-color: #EEF7FF;
    color: #0284FE;
}

.primary:hover {
    background-color: rgb(220, 238, 255);
    transition: .8s ease;
}

.secondary {
    background-color: rgb(254, 250, 241);
    color: #F7AF22;
}

.secondary:hover {
    background-color: rgb(254, 247, 230);
}

.error {
    background-color: rgb(254, 246, 243);
    color: rgb(244, 84, 29);
}

.error:hover {
    background-color: rgb(253, 232, 225);
}

.success {
    background-color: rgb(245, 251, 248);
    color: #36AB80;
}

.success:hover {
    background-color: rgb(234, 247, 241);
}