.homeWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homeWrapper .listItem {
    box-shadow: 0 0 1px 0 rgb(8 11 14 / 6%), 0 6px 6px -1px rgb(8 11 14 / 10%);
    border-left: 1rem solid #F7AF22;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}