.homeWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.homeWrapper .loginModal {
    box-shadow: 0 0 1px 0 rgb(8 11 14 / 6%), 0 16px 16px -1px rgb(8 11 14 / 10%);
    border: 1px solid #F7F8F9;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}